<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini Blog</title>
</head>
<body>

<h1>Hello World!</h1>

<a href="/hello" th:if="${1 == 1}" th:href="${href}" th:text="${text}">Hello</a>

<p th:text="${userAgent}">Test text</p>

<p th:text="${'Hello' + (name != null ? ', ' + name : '')}"></p>

<form method="post" th:unless="${#strings.length(text) > 2}">
    <input type="text" name="name">
    <input type="submit" value="Enter!">

</form>

</body>
</html>