<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini Blog</title>
    <th:block th:replace="~{includes/scripts :: head}"></th:block>
</head>
<body>

<div th:replace="~{includes/searchbar2 :: searchForm}"></div>

<div th:replace="~{includes/searchbar2 :: searchForm2}"></div>

<h1>Hello Springboot!</h1>

<p th:if="${principal != null}" th:text="${principal.username}"></p>

<p th:text="${'Hello, ' + name}"></p>
<p th:text="${'User logged: ' + userLogged}"></p>

<th:block th:replace="~{includes/scripts :: foot}"></th:block>
</body>
</html>