<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini Blog - wszystkie posty</title>
    <th:block th:replace="~{includes/scripts :: head}"></th:block>
</head>
<body>
<div th:replace="~{includes/searchbar :: searchForm}"></div>

<div th:if="${post != null}">
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.author + ', ' + post.added}"></p>
    <p th:text="${post.content}"></p>

    <h3>Komentarze:</h3>
    <form th:action="@{/post/addComment}" method="post">
        <input type="hidden" th:value="${post.id}" name="postId">
        <input type="text" th:name="author" placeholder="Pseudonim...">
        <br>
        <textarea th:type="text" name="commentBody"></textarea>
        <br>
        <input th:type="submit" value="Dodaj komentarz">
    </form>

    <div th:each="comment : ${post.comments}">
        <div>
            <span th:text="${comment.author}"></span>
            <span th:text="${#dates.format(comment.added, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <p th:text="${comment.commentBody}"></p>
    </div>
</div>


<div th:if="${post == null}">Nie znaleziono wpisu, o który pytasz.</div>

<th:block th:replace="~{includes/scripts :: foot}"></th:block>
</body>
</html>