<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini Blog - wszystkie posty</title>
    <th:block th:replace="~{includes/scripts :: head}"></th:block>
</head>
<body>
<div th:replace="~{includes/searchbar :: searchForm}"></div>

<div th:if="${post != null}">
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.author + ', ' + post.added}"></p>
    <p th:text="${post.content}"></p>

    <form th:action="@{/post/addComment}" method="post">
        <input type="text" th:name="author" placeholder="Pseudonim...">
        <br>
        <textarea th:type="text" name="commentBody"></textarea>
        <br>
        <input th:type="submit" value="Dodaj komentarz">
    </form>
</div>


<div th:if="${post == null}">Nie znaleziono wpisu, o który pytasz.</div>

<th:block th:replace="~{includes/scripts :: foot}"></th:block>
</body>
</html>