<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini Blog - wszystkie posty</title>
    <th:block th:replace="~{includes/scripts :: head}"></th:block>
</head>
<body>
<div th:replace="~{includes/searchbar :: searchForm}"></div>

<h1>Wszystkie moje posty</h1>

<div th:each="post : ${posts}">
    <h2 th:text="${post.title + ' -> ' + post.id}"></h2>
    <h2 th:text="${post.title} + ${post.id}"></h2>
    <a th:href="@{/post/} + ${post.id}"><h2 th:text="${post.title}"></h2></a>
    <a th:href="@{/post/{postId}(postId=${post.id}, pT=${post.title})}" ><h2 th:text="${post.title}"></h2></a>
    <p th:text="${post.content}"></p>
</div>

<th:block th:replace="~{includes/scripts :: foot}"></th:block>
</body>
</html>