<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini Blog</title>
    <th:block th:replace="~{includes/scripts :: head}"></th:block>
</head>
<body>

<h1>Szczegóły użytkownika</h1>

<div>
    <p th:text="${user.id}"></p>
    <p th:text="${user.email}"></p>
    <p th:text="${user.firstname}"></p>
    <p th:text="${user.lastname}"></p>
</div>

<th:block th:replace="~{includes/scripts :: foot}"></th:block>
</body>
</html>